* {
  padding: 0;
  margin: 0;
  border: 0;
}

#btn {
  border: 1px solid black;
  padding: 5px 20px;
  margin: 64px 0 0 0;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 700px;
  height: 700px;
  min-width: 700px;
  min-height: 700px;
  border: 4px solid black;
  margin: 65px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.pixel {
  flex: 1 1 auto;
  border: 1px solid black;
}
